page {
  width: auto;
  margin: 20rpx;
  background-image: linear-gradient(to bottom right, #7a88ff, #7affaf);
}

.content {
  margin: 20rpx;
  padding: 20rpx;
  color: rgb(59, 48, 161);
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.time {
  color: #0ff;
}
